html,
body {
  --pantone-540: rgba(0, 55, 103);
  --pantone-543: rgba(147, 185, 220);
  --pantone-430: rgba(134, 143, 152);
  --navy-blue: rgba(0, 0, 128);
  --royal-blue: rgba(0, 35, 102);
  --carolina-blue: rgba(86, 160, 211);
  margin: 0;
  font-family: PingFangSC, 'Microsoft Yahei UI', 'Microsoft Yahei', SimHei, Arial, Helvetica,
    sans-serif;
  line-height: 1.3;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

@media (max-width: 414px) {
  html,
  body {
    font-size: 12px;
  }
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}
